* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1;
}

header .brand {
    position: relative;
    font-size: 2em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header .toggle {
    max-width: 60px;
    cursor: pointer;
}

header .toggle img {
    max-width: 100%;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .1;
    pointer-events: none;
}

.banner .textBx {
    position: relative;
    max-width: 550px;
    z-index: 2;
}

.banner .textBx h2 {
    color: #fff;
    font-size: 3rem;
}

.banner .textBx p {
    color: #fff;
    font-size: 1.1em;
    margin: 5px 0 25px;
}

.banner .textBx a {
    position: relative;
    display: inline-block;
    background-color: #fff;
    color: #111;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.banner .videoBx {
    position: relative;
    background-color: #fff;
    margin-left: 40px;
    width: 100%;
    height: 400px;
    z-index: 1;
}

.banner .videoBx video {
    opacity: 1;
}

.banner .sci {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .sci li {
    list-style: none;
}

.banner .sci li a {
    display: inline-block;
    margin-right: 15px;
}

.banner .sci li a img {
    transform: scale(.5);
    filter: invert(1);
}

@media (max-width: 992px) {
    header {
        padding: 20px 50px;
    }

    .banner {
        padding: 150px 50px 0;
        flex-direction: column;
    }

    .banner::before {
        display: none;
    }

    .banner .textBx {
        max-width: 100%;
    }

    .banner .textBx h2 {
        font-size: 2.5em;
    }

    .banner .videoBx {
        width: 100%;
        height: 200px;
        margin: 40px 0 100px 0;
    }

    .banner .sci {
        left: 50px;
    }
}